.bottom-nav {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; /* 콘텐츠보다 위에 오도록 설정 */

  width: 100%;
  max-width: 390px;
  height: 104px;
  box-shadow: 0 0 15px 0 rgba(106, 106, 106, 0.08);

  border-radius: 35px 35px 0 0;
  background: #F9F9FF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:80px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 46px;
}

.nav-center:hover{
  cursor: pointer;
}
.nav-item:hover {
  cursor: pointer;
}
