#blur {
  width: 390px;
  height: 844px;
  fill: rgba(0, 0, 0, 0.5);
  opacity: 1;
  background-color: #00000080;

  position: absolute;
  z-index: 1;
}
.Modal {
  width: 350px;
  height: 466px;
  border-radius: 10px;
  background: #f9f9ff;
  overflow: hidden;
  position: relative;

  top: 189px;
  left: 20px;
}

/* head */
.head {
  width: 350px;
  height: 48px;
  position: relative;
}
.high-frame {
  width: 310px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  top: 20px;
  left: 20px;
}
.high-frame span {
  color: #1a1a1f;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.high-frame button {
  width: 20px;
  height: 20px;
  padding: 10px;
  border: none;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.high-frame img {
  width: 12px;
  height: 12px;
}
.dividing_line {
  width: 316px;
  height: 2px;
  background-color: #9b9baa;
  opacity: 0.5;
  position: absolute;
  top: 49px;
  left: 17px;
}
