#blur {
  width: 390px;
  height: 844px;
  fill: rgba(0, 0, 0, 0.5);
  opacity: 1;
  background-color: #00000080;

  position: absolute;
  z-index: 1;
}
.popup {
  width: 318px;
  height: 210px;
  border-radius: 10px;
  background: #f9f9ff;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  top: 317px;
  left: 36px;
}
.popup img {
  width: 58px;
  height: 58px;

  position: absolute;
  top: 33px;
}
.popup span {
  color: #1a1a1f;
  text-align: center;
  font-size: 16px;
  font-weight: 500;

  position: absolute;
  top: 106px;
}
.popup button {
  width: 286px;
  height: 42px;
  padding: 13px 38px;

  border: none;
  border-radius: 10px;
  background: #4566de;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  position: absolute;
  top: 151.5px;
}
.popup button p {
  color: #f9f9ff;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
