* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard, -apple-system, sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.Main {
  width: 100%;
  max-width: 390px;
  
  height: 100dvh;
  
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  background-color: #fff;

  overflow: hidden;
}

#topBack {
  position: absolute;
  top: 55px;
  left: 20px;
  z-index: 10;
}


#success {
  position: absolute;
  top: 36.5%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  margin: 0;
}
#success img {
  width: 80px;
  height: 80px;
  margin-bottom: 4px;
}
#successMesssage {
  height: 27px;
  font-size: 24px;
  font-weight: 600;
  color: #4566DE;
  margin-bottom: 8px;
}
#subMessage {
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}

#closeSet {
  position: absolute;
  bottom: 114px; 
  left: 50%;
  transform: translateX(-50%);
  
  width: 350px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
#closeBtn {
  width: 100%;
  height: 52px;
}
#closeBtn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#closeText {
  font-size: 14px;
  color: #7f7f7f;
}